
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-text-1,
.animate-text-2,
.animate-text-3 {
  opacity: 0;
  will-change: transform, opacity;
  transform: translateZ(0); 
  backface-visibility: hidden;
}

.animate-text-1 {
  animation: fadeSlideUp 0.8s ease forwards;
}

.animate-text-2 {
  animation: fadeSlideUp 0.8s ease forwards;
  animation-delay: 0.3s;
}

.animate-text-3 {
  animation: fadeSlideUp 0.8s ease forwards;
  animation-delay: 0.6s;
}



@keyframes floatZoom {
  0% {
    transform: translate3d(0, 0px, 0) scale(1);
  }
  50% {
    transform: translate3d(0, -15px, 0) scale(1.05);
  }
  100% {
    transform: translate3d(0, 0px, 0) scale(1);
  }
}

.animate-image {
  animation: floatZoom 6s ease-in-out infinite;
  will-change: transform;
  transform: translateZ(0);
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
